<hr>

<div class="row">
  <div class="span12 text-center">
    <a href="https://www.facebook.com/howarddierking" title="Facebook"><i class="smicon-facebook"></i></a>
    <a href="https://plus.google.com/u/0/+HowardDierking/posts/p/pub" title="Google+"><i class="smicon-google"></i></a>
    <a href="http://www.linkedin.com/in/howarddierking" title="LinkedIn"><i class="smicon-linkedin"></i></a>
    <a href="/rss.xml" title="RSS"><i class="smicon-rss"></i></a>
    <a href="https://twitter.com/howard_dierking" title="Twitter"><i class="smicon-twitter"></i></a>
    <a href="https://github.com/howarddierking/" title="GitHub"><i class="smicon-github"></i></a>
  </div>
</div>
