<hr>
<div class="row triple-row">
    <div id="triple-first" class="span4 triple">
        <div class="zone zone-triple-first">
            <article class="widget-triple-first widget-html-widget widget">
                <header>
                    <h1>First Triple</h1>
                </header>
                <p>First Triple Content</p>
            </article>
        </div>
    </div>
    <div id="triple-second" class="span4 triple">
        <div class="zone zone-triple-second">
            <article class="widget-triple-second widget-html-widget widget">
                <header>
                    <h1>Second Triple</h1>
                </header>
                <p>Second Triple Content</p>
            </article>
        </div>
    </div>
    <div id="triple-third" class="span4 triple">
        <div class="zone zone-triple-third">
            <article class="widget-triple-third widget-html-widget widget">
                <header>
                    <h1>Third Triple</h1>
                </header>
                <p>Third Triple Content</p>
            </article>
        </div>
    </div>
</div>
