<div class="masthead clearfix">

<!-- The Logo -->
  <a href="/"><img src="/images/HD-logo-RGB-grey-trans-1000p.png" style="margin: 2px 0  0 10px" height="63" width="219" alt="Howard Dierking"></a>
  <!-- <h1 id="logo" class="page-title page-title-text"><a href="/">_howard.blog()</a></h1> -->


<!-- The Navigation -->
<ul id="nav" class="nav ww-nav pull-right hidden-phone">
  <li><a href="/">Blog</a></li>
  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">About</a>
    <ul class="dropdown-menu">
      <li><a href="/about">About Me</a></li>
      <li><a href="/resume">Resume</a></li>
    </ul>
  </li>
</ul>
</div>

<hr>
